{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers for {{ 'now'|date() }} from {{ source }} </h1>
        <table class="table table-bordered">
            {% for trailer in trailers %}
                <tr>
                    <td><a href="/trailer/{{ trailer.getId() }}">{{ trailer.getTitle() }}</a><br>
                        {% include 'image_like.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
